:root {
    --hdr-gradient: radial-gradient(farthest-corner circle at 50% 115% in oklch,
    oklch(100% 0.24 169) 0%, 17%, oklch(100% 0.00 272) 94% 94%);
    --sdr-gradient: radial-gradient(farthest-corner circle at 50% 115%,
    #00ffe3 0%, 17%, #fff 96% 96%);
}

.search-cn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    transform: translateY(-150%);
    top: 60px;
    opacity: 0;
    transition: .3s ease-in-out;
    position: fixed;
    pointer-events: none;
}

.search-cn-open {
    opacity: 1;
    transform: translateY(0);
    transition: .3s ease-in-out;
    pointer-events: all;
}

